<%= form_for(@aga_employee) do |f| %>
  <% if @aga_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aga_employee.errors.count, "error") %> prohibited this aga_employee from being saved:</h2>

      <ul>
      <% @aga_employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
